@model WEB_Boletim.Models.Curso

@{
    ViewData["Title"] = "Editar";
}
<script src="~/js/sweetalert2.js"></script>
@if (ViewBag._sucesso != null)
{
    <div class="modal hide" data-backdrop="static" data-keyboard="false">
        <script type="text/javascript">
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Cadastrado com Sucesso',
            }).then(function () {
                window.location = "/Curso/Index";
            });
        </script>
    </div>
}

<h1>Editar</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CursoFaculdade" class="control-label"></label>
                <input asp-for="CursoFaculdade" class="form-control" />
                <span asp-validation-for="CursoFaculdade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
