@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h6 class="display-4">Faculdade Ecológica do Caqui</h6><br />

</div>

<fieldset class="text-center">
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px; margin-bottom:10px"href="/Aluno/Create">Cadastro de Aluno</a>
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px; margin-bottom:10px" href="/Curso/Create">Cadastro de Curso</a>
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px; margin-bottom:10px" href="/Materia/Create">Cadastro de Matéria</a>
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px; margin-bottom:10px" href="/Nota/Create">Cadastro de Nota</a>
</fieldset>
<fieldset class="text-center">
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px;" href="/Aluno/Index">Alunos</a>
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px;" href="/Curso/Index">Cursos</a>
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px;" href="/Materia/Index">Matérias</a>
        <a class="btn btn-outline-info" style="padding-top:60px;width:200px;height:150px; border-radius: 5px; margin-right:5px;" href="/Nota/Index">Boletim</a>
</fieldset>  